header {
	margin: 0 auto;
	width: 1297px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	background: #f9f9f9;
}

#uld {
	margin-left: 54px;
	display: flex;
}

#uld a {
	border-right: 1px solid #e9e7e9;
	line-height: 30px;
	padding: 0 10px;
	color: #666666;
	font-size: 10px;
}

#uld li {
	float: left;
}

#uld1 {
	margin-left: 300px;
	display: flex;
}

#uld1 a {
	line-height: 30px;
	padding: 0 10px;
	border-right: 1px solid #e9e7e9;
	color: #666666;
	font-size: 10px;
}

#uld1 select {
	width: 80px;
	height: 20px;
   margin-left: 20px;
    margin-top: 6px;
	
}

#logo {
	width: 1297px;
	margin: 0 auto;
	height: 110px;
}

#logo #img1 {
	padding: 23px 0 37px 70px;
	float: left;
}

#input1 {
	float: left;
	width: 493px;
	height: 37px;
	border: 2px solid #f74a4a;
	line-height: 39px;
	margin: 30px 60px 50px 120px;
}

#input1 span {
	background: url(../img/箭头.gif) no-repeat right;
	height: 20px;
	padding-right: 30px;
	width: 120px;
	margin-left: 28px;
	border-right: 1px solid #ddd;
}

#input1 input {
	width: 330px;
	height: 34px;
	border: 0;
}

#input1 #sousuo {
	float: right;
}

#logo #img2 {
	margin-left: -15px;
	float: left;
}

#menu {
	margin: 0 auto;
	width: 1297px;
	height: 53px;
	display: flex;
	background: #000000;
}
#uld2{
	margin-left: 54px;
}
#uld2 li{
	width: 127px;
	height: 53px;
	float: left;
	line-height: 53px;
	text-align: center;
}
#uld2 li:first-child{
	width: 193px;
	height: 53px;
    background: #eb4c4c;  
}
#left a{
	display: block;
}
#left-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 420px;
	background-position-x: 10px;
    margin-top: 10px;
    float: left;
  
}
#left-2{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 422px;
	background-position-x: 268px;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}
#left-3{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 422px;
	background-position-x: 387px;
    margin-top: 10px;
    float: left;
     margin-right: 20px;
}
#left-4{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 422px;
	background-position-x: 353px;
    margin-top: 10px;
    float: left;
     margin-right: 20px;
}
#left-5{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 422px;
	background-position-x: 324px;
    margin-top: 10px;
    float: left;
     margin-right: 20px;
}
#left-6{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 422px;
	background-position-x: 295px;
    margin-top: 10px;
    float: left;
       margin-right: 20px;
}
#left2-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 427px;
	background-position-x: 240px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
#left3-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 427px;
	background-position-x: 240px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
#left4-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 427px;
	background-position-x: 240px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
#left5-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 427px;
	background-position-x: 240px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
#left6-1{
	width: 30px;
	height: 30px;
	background: url(../img/icon.png);
	background-position-y: 427px;
	background-position-x: 240px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
#hot{
	width: 254px;
	height: 328px;
	background: white;
	z-index: 99;
    position: absolute;
    left: 298px;
    top: 214px;
    display: none;
}

#hot>ul>li{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: black;
}

#hot ul{
	float: left;
}
#jiaose{
	width: 380px;
	height: 328px;
	background: white;
	z-index: 99;
    position: absolute;
     left: 298px;
    top: 214px;
   display: none;
}
#jiaose>ul>li{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: black;
}
#jiaose ul{
	float: left;
}
#jingji{
	width:260px;
	height: 328px;
	background: white;
	z-index: 99;
    position: absolute;
      left: 298px;
    top: 214px;
    display: none;
}
#jingji>ul>li{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: black;
}
#jingji ul{
	float: left;
}
#xiuxian{
	width: 125px;
	height: 328px;
	background: white;
	z-index: 99;
    position: absolute;
    left: 298px;
    top: 214px;
    display: none;
}
#xiuxian>ul>li{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: black;
}
#xiuxian ul{
	float: left;
}
#wangye{
	width: 125px;
	height: 328px;
	background: white;
	z-index: 99;
    position: absolute;
  left: 298px;
    top: 214px;
    display: none;
}
#wangye>ul>li{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: black;
}
#wangye ul{
	float: left;
}





#uld2 li:first-child:hover{
	background: #eb4c4c ;
}


#uld2 li:last-child{
	width: 231px;
	height: 44px;
	margin-left: 10px;
	margin-top: 4px;
	


}
.shop{
	height: 41px;
	line-height: 41px;
	background: #f74a4a;

}
.shop img{
	    margin-top: -8px;
    vertical-align: middle;
}
 #uld2 .active{
	display: block;
}
.shop span{
	border-left: 1px solid #ddd;
	padding-left: 20px;
	color: white;
	font-size: 20px;
	margin-left: 30px;
}
#tan{
	width: 600px;
	height: 94px;
	background: white;
	position: absolute;
	right:110px;
	top: 208px;
	z-index: 900;
	display: none;
}
#tan1{
	width: 100%;
	height: 35px;
	background: #DDDDDD;
}
.shop:hover #tan1{
	background: none;
}
#tan1 ul{
	margin-left: 30px;
}
#tan2{
	color: red;
}

#tan1>ul>li>a{
	font-size: 10px;
	color: black;
}
#tan1 ul li{
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 35px;
}
#uld2 li a{
	font-size: 20px;
	color: #FFFFFF;
}
#uld2>li:hover{
	background: #f74a4a;
}
#box{
	height: 381px;
	width: 1297px;
	margin: 0 auto;
	background: url(../img/wrap_bg.png) no-repeat;
}
#box #left{
	margin-left: 53px;
	background: #f55656;
	width: 193px;
	height: 328px;
	float: left;
}
#box #left>ul>li{
	width: 193px;
	height: 65px;
	line-height: 53px;
	text-align: center;
	border-bottom: 1px solid #ee4545;

}
#box ul{
	float: left;
}
#box #left a{
	font-size: 20px;
	color: #FFFFFF;
}
#banner{
	width: 772px;
	height: 328px;
	background: pink;
	float: left;
	position: relative;
	overflow: hidden;
}

#right{
	width: 233px;
	height: 330px;
	background: white;
	float: left;
}
#right-1{
	width: 233px;
	height: 88px;
	background: black;
	background: url(../img/default.gif) no-repeat;
	background-position-x: 20px;
	background-position-y: 20px;
	background-size: 60px;
	border-bottom: 1px solid #efefef;
}
#right-1 span{
	display: inline-block;
	margin-top: 20px;
	margin-left: 90px;
	color: #a599a5;
	font-size: 8px;
}

